.Navbar {
    display: flex;
    background: lightblue;
    padding: 0;
}

.Navbar > ul {
    display: flex;
    margin: 0;
    margin-left: auto;
    margin-right: 20px;
    list-style-type: none;
    height: 100%;
}

.Navbar > ul > li {
    display: flex;
    align-content: center;
    padding: 15px;
    transition: background-color 0.4s;
}

.Navbar > ul > li:hover {
    background-color: rgb(138, 209, 233);
}

.Navbar > ul > li > a,
.Navbar > ul > li > a:active,
.Navbar > ul > li > a:visited {
    color: black;
    align-content: center;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-decoration: none;
}